<p id="notice"><%= notice %></p>

<h1>Single Items Physical States</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Physical state</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @single_items_physical_states.each do |single_items_physical_state| %>
      <tr>
        <td><%= single_items_physical_state.item_id %></td>
        <td><%= single_items_physical_state.physical_state_id %></td>
        <td><%= link_to 'Show', single_items_physical_state %></td>
        <td><%= link_to 'Edit', edit_single_items_physical_state_path(single_items_physical_state) %></td>
        <td><%= link_to 'Destroy', single_items_physical_state, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Single Items Physical State', new_single_items_physical_state_path %>
