<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= "#{@single_items_physical_state.single_item_id}: #{@single_items_physical_state.single_item.sample.name}" %>
</p>

<p>
  <strong>Physical state:</strong>
  <%= @single_items_physical_state.physical_state.name %>
</p>

<%= link_to 'Edit', edit_single_items_physical_state_path(@single_items_physical_state) %> |
<%= link_to 'Back', single_items_physical_states_path %>
