<p id="notice"><%= notice %></p>

<p>
  <strong>Row:</strong>
  <%= @collection_item.row %>
</p>

<p>
  <strong>Column:</strong>
  <%= @collection_item.column %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @collection_item.collection_id %>
</p>

<p>
  <strong>Single item:</strong>
  <%= @collection_item.single_item_id %>
</p>

<%= link_to 'Edit', edit_collection_item_path(@collection_item) %> |
<%= link_to 'Back', collection_items_path %>
