<p id="notice"><%= notice %></p>

<p>
  <strong>Container type:</strong>
  <%= @container.container_type.name %>
</p>

<p>
  <strong>Format type:</strong>
  <%= @container.format_type %>
</p>

<p>
  <strong>Format ID:</strong>
  <%= @container.format_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @container.quantity %>
</p>

<p>
  <strong>Location:</strong>
  <%= @container.location %>
</p>

<%= link_to 'Edit', edit_container_path(@container) %> |
<%= link_to 'Back', containers_path %>
