<p id="notice"><%= notice %></p>

<h1>Sample Compositions</h1>

<% @grouped_sample_compositions.each do |grouper, sample_compositions| %>
  <h2><%= grouper[:composite_sample].name %></h2>
  <h3><%= grouper[:sample_composition_type].name %></h3>
  <p><%= grouper[:sample_composition_type].description %></p>

  <table>
    <thead>
      <tr>
        <th>Quantity</th>
        <th>Component sample</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% sample_compositions.each do |sample_composition| %>
        <tr>
          <td><%= sample_composition.quantity %></td>
          <td><%= sample_composition.component_sample.name %></td>
          <td><%= link_to 'Show', sample_composition %></td>
          <td><%= link_to 'Edit', edit_sample_composition_path(sample_composition) %></td>
          <td><%= link_to 'Destroy', sample_composition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br>

<%= link_to 'New Sample Composition', new_sample_composition_path %>
