<%= form_with(model: single_item) do |form| %>
  <% if single_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(single_item.errors.count, "error") %> prohibited this single_item from being saved:</h2>

      <ul>
        <% single_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sample_id %>
    <%= form.collection_select(:sample_id, Sample.all, :id, :name) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
