<p id="notice"><%= notice %></p>

<p>
  <strong>Sample:</strong>
  <%= @single_item.sample.name %>
</p>
<p>
  <strong>Physical States:</strong>
  <%= @single_item.physical_states.map(&:name).join(', ') %>
</p>

<%= link_to 'Edit', edit_single_item_path(@single_item) %> |
<%= link_to 'Back', single_items_path %>
