<%= form_with(model: container_type) do |form| %>
  <% if container_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(container_type.errors.count, "error") %> prohibited this container_type from being saved:</h2>

      <ul>
        <% container_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :max_quantity %>
    <%= form.text_field :max_quantity %>
  </div>

  <div class="field">
    <%= form.label :format_type_id %>
    <%= form.number_field :format_type_id %>
  </div>

  <div class="field">
    <%= form.label :format_type_type %>
    <%= form.text_field :format_type_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
