<p id="notice"><%= notice %></p>

<h1>Single Item Types Physical States</h1>

<table>
  <thead>
    <tr>
      <th>Single item type</th>
      <th>Physical state</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @single_item_types_physical_states.each do |single_item_types_physical_state| %>
      <tr>
        <td><%= "#{single_item_types_physical_state.single_item_type_id}: #{single_item_types_physical_state.single_item_type.sample_type.name}" %></td>
        <td><%= single_item_types_physical_state.physical_state.name %></td>
        <td><%= link_to 'Show', single_item_types_physical_state %></td>
        <td><%= link_to 'Edit', edit_single_item_types_physical_state_path(single_item_types_physical_state) %></td>
        <td><%= link_to 'Destroy', single_item_types_physical_state, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Single Item Types Physical State', new_single_item_types_physical_state_path %>
