<p id="notice"><%= notice %></p>

<p>
  <strong>Single item type:</strong>
  <%= @single_item_types_physical_state.single_item_type_id %>
</p>

<p>
  <strong>Physical state:</strong>
  <%= @single_item_types_physical_state.physical_state_id %>
</p>

<%= link_to 'Edit', edit_single_item_types_physical_state_path(@single_item_types_physical_state) %> |
<%= link_to 'Back', single_item_types_physical_states_path %>
