<% title 'Physical States' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @physical_state.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @physical_state.description %>
</p>

<%= link_to 'Edit', edit_physical_state_path(@physical_state) %> |
<%= link_to 'Back', physical_states_path %>
