<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= if content_for?(:title) then yield(:title) + ' | ' end %>
      Inventory
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="nav-content">
      <div>
        <b>Samples:</b>
        <%= link_to 'Samples', samples_path %> 路
        <%= link_to 'Sample Types', sample_types_path %> 路
        <%= link_to 'Sample Compositions', sample_compositions_path %> 路
        <%= link_to 'Sample Composition Types', sample_composition_types_path %>
      </div>
      <div>
        <b>Physical States:</b>
        <%= link_to 'Physical States', physical_states_path %> 路
        <%= link_to 'Physical State Types', physical_state_types_path %>
      </div>
      <div>
        <b>Items:</b>
        <%= link_to 'Single Items', single_items_path %>
      </div>
    </div>

    <div id="main-content">
      <%= yield %>
    </div>
  </body>
</html>
