<% title 'Physical State Types' %>
<p id="notice"><%= notice %></p>

<h1>Physical State Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @physical_state_types.each do |physical_state_type| %>
      <tr>
        <td><%= physical_state_type.name %></td>
        <td><%= link_to 'Show', physical_state_type %></td>
        <td><%= link_to 'Edit', edit_physical_state_type_path(physical_state_type) %></td>
        <td><%= link_to 'Destroy', physical_state_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Physical State Type', new_physical_state_type_path %>
